test/.ipynb_checkpoints
test/*.ipynb 
test/grid.png
*build/
!deps/build.jl
src/fully_coupled.jl
src/tests.jl
src/*.png
*.DS_Store
docs/build
test/*.png
test/*.gif
.vscode/*
deps/ADLaw
!*CMakeLists.txt
research/*.png
research/*.jpeg
research/*.gif
research/visco_inverse/*.png
research/visco_inverse/*.gif
research/visco_inverse/*.jpeg
research/poroelasticity/*.png
research/poroelasticity/*.gif
research/poroelasticity/*.jpeg
research/visco_inverse_fixed_pressure/*.png
research/visco_inverse_fixed_pressure/*.gif
research/visco_inverse_fixed_pressure/*.jpeg
research/visco_inverse_fixed_pressure/*.tex
research/plasticity/*.gif
research/plasticity/*.jpeg
research/plasticity/*.png
research/plasticity/*.mat
*.jld2
research/*.png
*.mat
*build.log
*Exp*