test/.ipynb_checkpoints
test/*.ipynb 
test/grid.png
*build/
!deps/build.jl
src/fully_coupled.jl
src/tests.jl
src/*.png
*.DS_Store
docs/build
test/*.png
test/*.gif
.vscode/*
deps/ADLaw
!*CMakeLists.txt
research/visco_inverse/*.png
research/visco_inverse/*.gif
research/visco_inverse/*.jpeg
research/viscoelasticity/*.png
research/viscoelasticity/*.gif
research/viscoelasticity/*.jpeg
research/viscoelasticity/experiment2
research/visco_inverse_fixed_pressure/*.png
research/visco_inverse_fixed_pressure/*.gif
research/visco_inverse_fixed_pressure/*.jpeg
research/visco_inverse_fixed_pressure/*.tex
research/visco_inverse_fixed_pressure/*.pdf
research/visco_inverse_fixed_pressure/linear
research/visco_inverse_fixed_pressure/nn
research/visco_inverse_fixed_pressure/param
research/visco_inverse_fixed_pressure/space_k
*.jld2
research/*.png
*.mat
!research/space_varying_viscoelasticity/viscoelasticity.mat
*build.log
*Exp*
research/plasticity/nn*
research/plasticity/simple*
research/plasticity/space_k*
research/visco_inverse_fixed_pressure/nn/
research/visco_inverse_fixed_pressure/param/
research/visco_inverse_fixed_pressure/simple/
research/visco_inverse_fixed_pressure/space_k/
research/poroelasticity/viscoelasticity.mat
research/nonlinear_viscoelasticity/*.png
research/nonlinear_viscoelasticity/*.gif
research/nonlinear_viscoelasticity/*.mat
research/nonlinear_viscoelasticity/nonlinear
research/nonlinear_viscoelasticity/*.pdf
test/U_surface/*.png
test/U_total/*.png
test/U_total/*.png
*.pdf
!*custom_op.txt 
!*CMakeLists.txt 
*.tex
.vscode/
!research/viscoelasticity_experimental_data