figures6/nn73.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn90.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss10.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss3.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn20.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn48.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss91.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss18.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss20.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss53.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss65.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss80.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn83.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn86.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss38.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss57.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss62.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn26.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn65.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss66.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss9.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn43.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss12.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss2.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss41.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss45.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss61.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn7.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss16.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss83.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn50.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn55.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn80.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn6.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn8.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss47.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss74.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss8.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn13.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn67.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn51.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss28.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss37.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss43.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss79.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss92.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn96.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss24.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss82.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss86.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn74.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn84.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn47.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn89.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss100.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss33.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss97.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn37.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn45.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn17.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn31.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn46.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss1.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss46.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss70.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss78.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss98.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn82.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn85.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss17.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss49.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss89.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn24.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn54.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss40.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss7.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss90.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn28.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn33.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss42.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss59.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss60.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn71.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn93.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss81.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss85.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn19.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn25.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn36.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn22.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn35.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn49.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss22.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss29.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss34.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss6.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss94.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn76.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn92.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss4.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn10.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn11.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn66.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn99.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss15.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn32.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn57.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn60.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn98.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss30.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss68.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn29.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn53.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn75.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn81.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss21.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss44.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss51.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn27.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn2.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn78.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss32.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss58.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss96.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn56.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn63.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn15.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn23.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn34.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn62.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn95.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss14.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss35.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn16.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn59.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn69.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn30.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn41.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn70.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss19.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss25.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss36.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss67.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn12.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn79.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn87.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss71.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn100.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn72.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn77.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss55.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss56.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn18.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss23.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss26.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss31.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss48.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss50.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn58.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn68.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn88.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn91.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn40.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn94.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn97.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn39.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn3.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn9.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss11.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss73.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss88.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn14.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn38.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss93.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss99.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn64.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss27.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss64.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss75.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss77.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss87.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn1.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn42.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn4.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss39.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss52.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss54.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss84.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss95.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss63.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss76.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn5.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn61.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn44.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn52.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss13.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss5.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss69.mat filter=lfs diff=lfs merge=lfs -text
figures6/loss72.mat filter=lfs diff=lfs merge=lfs -text
figures6/nn21.mat filter=lfs diff=lfs merge=lfs -text
